@import url("./feedback.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./services.css");
@import url("./statistic.css");
@import url("./notifications.css");
@import url("./swiper.css");
@import url("./catalog.css");
@import url("./reviews.css");
@import url("./faq.css");
@import url("./contacts.css");
@import url("./footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --container-width: 64.5rem;
    --color-grey: #cecece;
    --color-green: #67aa4f;
    --color-grey: #f5f5f5;
    --color-dark-grey: #303030;
    --color-dar-green: #50843d;
}

html {
    font-family: "Geologica";
    font-weight: 500;
    font-size: 1rem;

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3rem;
    width: 58rem;
    font-weight: 600;
}
h2 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}
p {
    font-weight: 500;
}

ul {
    list-style-type: none;
}

.container {
    width: 76.5rem;
    margin: 0 auto;
}

.button {
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition:
        scale 0.15s ease,
        background-color 0.15s ease;
}

.button_primary {
    background-color: var(--color-green);
    color: white;
}

.button_primary:hover {
    background-color: var(--color-dar-green);
    color: white;
}

.button_outline_black {
    border: 0.05rem solid black;
}

.button_outline_white {
    border: 0.05rem solid white;
}

.button_size-l {
    padding: 1.5rem 1.5rem;
    font-size: 1.25rem;
}

.button_resize:hover {
    scale: 1.04;
}

ol {
    list-style: none;
}

img {
    pointer-events: none;
}
