.header_spacer {
    height: 5rem;
}

.header__content {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 3rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 0.25rem 0;
    z-index: 1000;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1rem);
    z-index: -1;
}

.logo__container {
    width: 10.25rem;
}

.burger-button {
    display: none;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 1224px) {
    .header__content {
        display: none;
    }
    .burger-button {
        display: flex;
        justify-content: flex-end;
        display: inline;
    }
    .burger-button .burger-button__close-icon {
        display: none;
    }
    .burger-button[data-open] .burger-button__open-icon {
        display: none;
    }

    .burger-button[data-open] .burger-button__close-icon {
        display: block;
        display: flex;
        justify-content: flex-end;
        transform: rotate(45deg);
    }

    .header__content[data-open] {
        left: 0;
        position: fixed;
        top: 3.5rem;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(1rem);
        z-index: 50;
        height: calc(100dvh - 3.5rem);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2rem;
        padding-top: 1rem;
    }

    .header__content[data-open] .container {
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
        padding-block: 1.5rem;
    }

    .header__content[data-open] .navigation {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .burger_block {
        display: flex;
        justify-content: end;
    }
    .header_spacer {
        height: 4rem;
    }
}
